* 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #080808;
  color: #ffffff;
  line-height: 1.5;
}

/* HEADER */

header {
  height: 70px;
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #2{22222;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

.logo span {
  color: #e50914;
}

nav {
  display: flex;
  gap: 28px;
}

nav a {
  color: #dddddd;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #e50914;
}

#menuBtn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
}


/* HERO */

.hero {
  min-height: 420px;
  padding: 90px 7%;
  display: flex;
  align-items: center;

  background:
    linear-gradient(
      90deg,
      #080808 25%,
      rgba(8, 8, 8, 0.75),
      rgba(8, 8, 8, 0.2)
    ),
    radial-gradient(
      circle at 75% 35%,
      #4b1015,
      #111111 45%,
      #080808 75%
    );
}

.hero > div {
  max-width: 650px;
}

.tag {
  color: #e50914;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}

h1 {
  font-size: clamp(38px, 7vw, 70px);
  line-height: 1.05;
  margin: 12px 0;
}

.hero h1 span {
  color: #e50914;
}

.hero p:not(.tag) {
  color: #bbbbbb;
  max-width: 540px;
  font-size: 17px;
  margin-bottom: 25px;
}


/* BUTTON */

.btn {
  display: inline-block;
  background: #e50914;
  color: white;
  text-decoration: none;
  padding: 13px 22px;
  border-radius: 7px;
  font-weight: bold;
}

.btn:hover {
  background: #b20710;
}


/* SEARCH */

.searchBox {
  padding: 25px 7%;
  background: #0e0e0e;
}

#search {
  width: 100%;
  max-width: 700px;
  background: #191919;
  border: 1px solid #333333;
  border-radius: 8px;
  padding: 15px;
  color: white;
  font-size: 16px;
  outline: none;
}

#search:focus {
  border-color: #e50914;
}


/* MOVIES */

section#movies,
.genres {
  paddingfile:///data/user/0/com.foxdebug.acodefree/files/public/style.css  margin-top: 18px;
}

.genreList button {
  background: #191919;
  border: 1px solid #333333;
  color: #dddddd;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.genreList button:hover {
  background: #e50914;
  border-color: #e50914;
  color: white;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 35px 7%;
  background: #050505;
  color: #aaaaaa;
}

footer strong {
  color: white;
  font-size: 20px;
}

footer small {
  display: block;
  margin-top: 12px;
}


/* MOBILE */

@media (max-width: 650px) {

  header {
    padding: 0 5%;
  }

  nav {
    display: none;
  }

  #menuBtn {
    display: block;
  }

  .hero {
    min-height: 390px;
    padding: 65px 7%;
  }

  .grid {
    grid-template-columns:
      repeat(2, 1fr);

    gap: 12px;
  }

  .poster {
    height: 210px;
  }

  h2 {
    font-size: 24px;
  }

}